# Lists
A list is an ordered sequence of items. 
You can think of a list as a container that contains other items in a particular order. A list (`list`) is thus another *sequence type* that we will learn about.

In code, a list is indicated by square brackets.

~~~
my_friends = ['Otto', 'Anna', 'Berta', 'Fritz']
~~~

The data type of a list element does not matter. That means that elements of any type can be stored in a list:

In [1]:
students = ['Charlie', 'Anna', 'Marko', 'Santa']
students

['Charlie', 'Anna', 'Marko', 'Santa']

In [2]:
temperatures = [25.4, 28.1, 20.9, 26.0, 32.6]
temperatures

[25.4, 28.1, 20.9, 26.0, 32.6]

In [3]:
grades = [1, 2, 1, 4, 3, 3, 2]
grades

[1, 2, 1, 4, 3, 3, 2]

You can even store elements of different types in a list (but this is usually not a very good idea):

In [4]:
values = ['Santa', 7, True, 3.14]
values

['Santa', 7, True, 3.14]

Since a list -- like a string -- is a sequence type, many of the things we've learned about strings also work for lists. 

## Get the number of list elements
We can get the number of elements in a list with the function `len()`:

In [5]:
len(students)

4

## Address single elements
Just as with a string a single character can be accessed via the index, with a list a specific element can be addressed:

In [6]:
students[0]

'Charlie'

This also works for negative indexing

In [7]:
students[-1]

'Santa'

## Slicing
In addition, parts of the list can be extracted:

In [8]:
students[1:3]

['Anna', 'Marko']

## Iterate through a list

With a `for` loop we can iterate through the individual elements of a list, like we did for the individual characters of a string:

In [9]:
for student in students:
    print(student)

Charlie
Anna
Marko
Santa

<div class="alert alert-block alert-info">
<b>Exercise 1a</b>

<p>Make a list of the 5 things you ate recently. Think about a good name for the variable. </li>
</p>
</div>

In [9]:
foods = ["pizza", "pasta", "rice", "chicken", "Skyr"]

for i,food in enumerate(foods):
    print(f" {i+1}.{food}")

 1.pizza
 2.pasta
 3.rice
 4.chicken
 5.Skyr

In [10]:
foods = ["pizza", "pasta", "rice", "chicken", "Skyr"]

for i,food in enumerate(foods, start=1):
    print(f" {i}.{food}")

 1.pizza
 2.pasta
 3.rice
 4.chicken
 5.Skyr

<div class="alert alert-block alert-info">
<b>Exercise 1b</b>

<p>Output each dish in a separate line (through a loop) and number them with a counter (use the `enumerate()` function we learned about in the loops notebook).
The output should look something like: </li>
<pre>
1. Pizza
2. Cous cous
3. Lasagne
4. Schnitzel
5. Goulash
</pre>
Make sure that the numbering begins with a 1.
</p>
</div>

<div class="alert alert-block alert-info">
<b>Exercise 1c</b>

<p>Output the last three dishes only. The output should look like this: </li>
<pre>
1. Lasagne
2. Schnitzel
3. Goulash
</pre>
Make sure that the numbering begins with a 1.
</p>
</div>

In [11]:
print(f' {foods[-3:]}')

 ['rice', 'chicken', 'Skyr']

In [12]:
foods = ["pizza", "pasta", "rice", "chicken", "Skyr"]

for i,food in enumerate(foods, start=1):
    if i > len(foods) - 3:
        print(f" {i}.{food}")

 3.rice
 4.chicken
 5.Skyr

In [13]:
foods = ["pizza", "pasta", "rice", "chicken", "Skyr"]

for i,food in enumerate(foods[-3:], start=1):
    print(f" {i}.{food}")

 1.rice
 2.chicken
 3.Skyr

In [20]:
foods = ["pizza", "pasta", "rice", "chicken", "Skyr"]

for i,j in enumerate(range(2, 5), start=1):
    print(f" {i}.{foods[j]}")

 1.rice
 2.chicken
 3.Skyr

## Modify lists

Unlike strings, lists can be modified later.

### Add elements
We can add new elements at any time. The `append(VALUE)` method inserts a new element at the end of the list:

In [21]:
students = ['Charlie', 'Anna', 'Marko', 'Santa']
print(students)
students.append('Klara')
print(students)

['Charlie', 'Anna', 'Marko', 'Santa']
['Charlie', 'Anna', 'Marko', 'Santa', 'Klara']

If necessary, we can insert an element at any position. For this we use the `insert()` method of the `list` object. This method expects 2 parameters:

1. the position where the value should be inserted into the list. This specification is 0-based. So position `0` means "at the very beginning", `1` means: after the first element.
2. the value to be inserted

In [22]:
students.insert(-2, 'Teddy')
students

['Charlie', 'Anna', 'Marko', 'Teddy', 'Santa', 'Klara']

### Remove elements

We can remove elements in the same way. The `pop()` method removes the last element of the list. `pop()` returns the value of the removed element.

In [37]:
last_student = students.pop()
last_student
students

['Charlie', 'Claus']

However, `pop()` can also optionally be called with an argument: A number corresponding to the index of the object to be removed:

In [24]:
first_student = students.pop(0) #  remove the first element
print(first_student)
students

Charlie

['Anna', 'Marko', 'Teddy', 'Santa']

<div class="alert alert-block alert-info">
<b>Exercise 2</b>
<p>Imagine you have just returned from dinner.
<ol>
<li>Add the dish you just ate to the end of the list created in <b>Exercise 1</b>.</li>
<li>Remove the oldest meal to return the list to exactly 5 entries.</li>
</ol>
</p>
</div>

In [25]:
foods.append('bowl')

In [26]:
foods.pop(0)

'pizza'

In [27]:
foods

['pasta', 'rice', 'chicken', 'Skyr', 'bowl']

What you have just written here in a very simple form is called a **queue** in computer science: If a new element is inserted at the end and the maximum length of the queue is exceeded, the first (i.e. oldest) element must be removed be removed from the queue.

![A queue](img/queue.png)

You probably know this principle from your family doctor: if the waiting room is full, you have to wait in the corridor until the next patient is called into the treatment room and a place in the waiting room becomes free.

We'll take a closer look at using queues later in the semester.

### Replace items
The value of a list element can be changed at any time via the index:

In [28]:
students = ['Charlie', 'Anna', 'Marko', 'Santa']
print(students)

['Charlie', 'Anna', 'Marko', 'Santa']

In [29]:
students[1] = 'Claus'
print(students)

['Charlie', 'Claus', 'Marko', 'Santa']

So here we changed the value of the second element from 'Anna' to 'CLaus'. (Actually, we replaced the old String object with a new one, but that's not important just yet.)

## Multidimensional lists
We have seen that a list can contain values of any data type. Of course, this also includes lists. So we can create a list whose elements are in turn lists. We then have a list of lists.

Let's imagine we measure the temperature three times a day and want to save these readings. On the first day we have these 3 measurements: `[17, 28, 24]`. On the second day we measure these values: `[18, 31, 28]`. So we have a list of 3 values for each day. We can save the individual days (i.e. lists) in a list again:

In [32]:
temperatures = [
    [17, 28, 24],
    [18, 31, 28],
    [20, 35, 29]
]

In [35]:
temperatures[2][0]
temperatures[2][0]

20

In [ ]:
middle = temperatures[1]
middle[1]

In [ ]:
temperatures[2][0]

We can imagine these temperatures as a table: Each line represents a day, each column a measurement time (e.g. 6:00, 12:00, 18:00). We have already learned how to access the readings of a specific day:

In [ ]:
temperatures[1]

Since the element addressed in this way is again a list, we can also access individual elements of this list. We can read out the first measured value of the second day like this:

In [ ]:
day = temperatures[1] # temperatures of second day as list in variable 'day'
temperature_at_6 = day[0] # first value of day
temperature_at_6

It is usually written more compactly like this:

In [ ]:
temperatures[2][2]

The value in the first pair of brackets also refers to the list `temperatures` (i.e. what we referred to as `day` above), the value in the second pair of brackets to the list that we get via the first index, i.e. to the first entry of the second entry in the `temperatures` list.

<div class="alert alert-block alert-info">
<b>Exercise 3</b>
<p>
To become familiar with this concept, let the following temperatures be displayed:
<ol>
<li>First day's midday temperature</li>
<li>Morning temperature of the first day</li>
<li>Morning temperature of the last day</li>
<li>Evening temperature of the second day</li>
</ol>
</p>
</div>

## Calculate with list values
For lists containing numeric values (int, float), Python provides functions that can be applied to all values in a list:

  * `max(list)` determines the largest value occurring in the list.
  * `min(list)` returns the smallest value in the list
  * `sum(list)` determines the sum of all values of the list

## Read lines of a file into a list
Let's return to our file of first names that we learned about in the [Notebook on Handling Files](06_files.ipynb). We learned there that the `readlines()` method returns the contents of a file as a list of lines:

In [38]:
with open('data/names/names_short.txt', encoding='utf-8') as fh:
    lines = fh.readlines()
print(lines)

['Astrid\n', 'Ines\n', 'Christoph\n', 'Markus\n', 'Çınar\n', 'Đželila\n', 'Niklas\n', 'Anna\n', 'Stefanie\n', 'Raphael\n', 'Anna-Lena\n', 'Silvia\n', 'Julian\n', 'Simon\n', 'Katharina\n', 'Michael\n', 'Dominik\n', 'Maria\n', 'Kevin\n', 'Bianca\n', 'Thomas\n', 'Nora\n', 'Manuel\n', 'Selina\n', 'Gabriel\n', 'Daniel\n', 'Thomas\n', 'Nina\n', 'Michael\n', 'Fabio\n', 'Theresa\n', 'Manuel\n', 'Carina\n', 'Philipp\n', 'Lukas\n', 'Wolfgang\n', 'Anna\n', 'Doris\n', 'Thomas\n', 'Muhammed\n', 'Christoph\n', 'Lisa-Marie\n', 'Jessica\n', 'Maria\n', 'Thomas\n', 'Florian\n', 'Martin\n', 'Anna\n', 'Oliver\n', 'Gregor\n', 'Helmut\n', 'Florian\n', 'Matteo\n', 'David\n', 'Marlene\n', 'Vanessa\n', 'Lea\n', 'Jan\n', 'Béla\n', 'Verena\n', 'Manuel\n', 'Björn\n', 'Tobias\n', 'Denise\n', 'Emma\n', 'Lukas\n', 'Sarah\n', 'Oliver\n', 'Janine\n', 'Manuel\n', 'Georg\n', 'Lorenz\n', 'Verena\n', 'Caroline\n', 'Laura\n', 'Felix\n', 'Simon\n', 'Lea\n', 'Peter\n', 'Sandra\n', 'Julia\n', 'Sophie\n', 'Jacqueline\n', 'Nina\n', 'Sebastian\n', 'David\n', 'Matthias\n', 'Patrick\n', 'Selina\n', 'Fabian\n', 'Daniel\n', 'Sabine\n', 'Josef\n', 'Lisa\n', 'Carina\n', 'Florian\n', 'Fabian\n', 'Viktoria\n', 'Christoph\n', 'Emilia\n']

So our list `lines` now contains line by line the content of the file `names_short.txt`. However, with one flaw: Since each line is terminated by a newline character, this is also contained in each entry of the list (`\n`). The following digression describes how we can get rid of these line breaks.

## Digression: The string methods rstrip(), lstrip(), and strip().
As we can see, each list element contains the line feed character `\n` at the end. We could remove this with slicing, for example, but the string type provides a method `.rstrip()` that does exactly what we need:

In [ ]:
s = 'abc\n'
s.rstrip()

`rstrip()` removes all whitespace (spaces, tabs, line breaks, etc.) at the end of a string and returns the modified string. 

Additionally there is `lstrip()` which removes whitespace at the beginning of a string and `strip()` which removes whitespace left and right.

In [40]:
s = '   abc   '
print('s: "{}"'.format(s))
print('s.rstrip(): "{}"'.format(s.rstrip()))
print(f's.rstrip(): "{s.rstrip()}"')

print('s.lstrip(): "{}"'.format(s.lstrip()))
print('s.strip(): "{}"'.format(s.strip()))

s: "   abc   "
s.rstrip(): "   abc"
s.rstrip(): "   abc"
s.lstrip(): "abc   "
s.strip(): "abc"

## Remove line breaks in a list of strings 
### Method 1: in a loop
Now, if we want to remove all line breaks from our list of `lines`, we can do it in a `for` loop:

In [42]:
clean_names = [] # here we will store all names without \n
for line in lines:
    clean_names.append(line.rstrip())
print(clean_names)

['Astrid', 'Ines', 'Christoph', 'Markus', 'Çınar', 'Đželila', 'Niklas', 'Anna', 'Stefanie', 'Raphael', 'Anna-Lena', 'Silvia', 'Julian', 'Simon', 'Katharina', 'Michael', 'Dominik', 'Maria', 'Kevin', 'Bianca', 'Thomas', 'Nora', 'Manuel', 'Selina', 'Gabriel', 'Daniel', 'Thomas', 'Nina', 'Michael', 'Fabio', 'Theresa', 'Manuel', 'Carina', 'Philipp', 'Lukas', 'Wolfgang', 'Anna', 'Doris', 'Thomas', 'Muhammed', 'Christoph', 'Lisa-Marie', 'Jessica', 'Maria', 'Thomas', 'Florian', 'Martin', 'Anna', 'Oliver', 'Gregor', 'Helmut', 'Florian', 'Matteo', 'David', 'Marlene', 'Vanessa', 'Lea', 'Jan', 'Béla', 'Verena', 'Manuel', 'Björn', 'Tobias', 'Denise', 'Emma', 'Lukas', 'Sarah', 'Oliver', 'Janine', 'Manuel', 'Georg', 'Lorenz', 'Verena', 'Caroline', 'Laura', 'Felix', 'Simon', 'Lea', 'Peter', 'Sandra', 'Julia', 'Sophie', 'Jacqueline', 'Nina', 'Sebastian', 'David', 'Matthias', 'Patrick', 'Selina', 'Fabian', 'Daniel', 'Sabine', 'Josef', 'Lisa', 'Carina', 'Florian', 'Fabian', 'Viktoria', 'Christoph', 'Emilia']

As a reminder, we can use `list.append(VALUE)` to add a value to a list. This value is appended to the end of the list:

In [ ]:
students = ['Anna', 'Hans', 'Claus']
students.append('Dora')
students

## Method 2: with a List Comprehension
*List Comprehensions* are an approach coming from the field of functional programming to apply an action to all elements of a list.

The syntax of a List Comprehension is this:

```
[<do something with element> for <element> in <iterable>]
```

In [ ]:
clean_names = [line.rstrip() for line in lines]
print(clean_names)

List Comprehensions have become a very popular alternative for simple loops in recent years. I strongly recommend to get familiar with them because 

1. they are more compact than normal loops
2. they often appear in foreign code and therefore you should read and understand them

<div class="alert alert-block alert-info">
<b>Exercise 5</b>
<p>
Write a list comprehension that multiplies each value of the <tt>nums</tt> list by itself.
So the result should look like this:
<pre>
[16, 81, 289, 25, 9801]
</pre>
</p>
</div>

<div class="alert alert-block alert-info">
<b>Exercise Files</b><p>
Write a program that does the following:
<ol>
<li>Read in the contents of the file "data/names/names_short.txt".</li>
<li>Write the content of the read file into a new file "mynames.txt"</li>
<li>Ask (with input()) the user for his/her first name and store it in a variable </li>
<li>Append the requested name to the end of the "mynames.txt" file</li>
<li> Enable appending mutiple times over</li>
</ol>
</div>

# Literature that I recommend

* https://www.w3schools.com/python/python_lists.asp
* https://docs.python.org/3/tutorial/datastructures.html
* https://towardsdatascience.com/python-basics-6-lists-and-list-manipulation-a56be62b1f95
* https://www.geeksforgeeks.org/python-lists/
* https://www.tutorialspoint.com/python/python_lists.htm